@import "base";

#box, #test{
  color: #ff9244;
  font-size: 30px;
  transform: translateY(100px);
  background:url(../assets/a.jpg);
  background-repeat: no-repeat;
}

#test{
  background:url(../assets/b.jpg);
  background-repeat: no-repeat;
}